#dashboard {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#accounts {
    float: left;
    width: 40%;
}

#budget {
    float: left;
    width: 50%;
}

.budget_header {
    margin: 0 0 2em 0;
}

.budget_item {
    margin: 0 0 1em 0;
}

.account {
    margin: 0 0 20px 0;
	position: relative;
}

.account_name {
    margin: 0 0 0.5em 0;
    padding: 0;
    font-weight: bold;
}

.account_name.budget {
    margin-left: 0;
}

.account_balance {
    font-size: 120%;
	margin-left: 0;
}

.account_balance.info {
  font-size: 100%;
  margin-left: 10px;
}

.account_balance.budget {
    margin-left: 0;
}

.transaction_line {
    margin: 1em 0 1em 0;
    float: left;
    width: 100%;
}

.transaction {
    width: 100%;
    display: block;
    padding: 1em 0 2em 0;
    position: relative;
    overflow: hidden;
}

.transaction_date {
    width: 15%;
    float: left;
}

.transaction_date .title {
    width: 100%;
}

.transaction_date .subtitle {
    width: 100%;
    color: #808080;
    padding: 0.2em 0 0 0;
}

.transaction_name {
    width: 20%;
    float: left;
    font-weight: bold;
}

.transaction_amount {
    width: 15%;
    float: left;
    font-size: 110%;
    text-align: right;
    padding: 0 2em 0 0;
}

.transaction_from_name {
    width: 30%;
    float: left;
}

.transaction_tags {
    font-weight: normal;
    font-style: italic;
    color: #808080;
    padding: 0.2em 0 0 0;
    width: 100%;
}

input.tags {
    width: 50%;
}

.transaction .action {
    font-weight: normal;
    font-size: 11px;
    color: #bebebe;
    margin: 10px 0 -10px 0;
    cursor: default;
    opacity: 0;
}

.transaction:hover {
    background: #f6f6f6;
}

.transaction:hover .action {
    opacity: 1;
}

.transaction .action .edit {
    margin: 0 10px 0 0;
}
