.menu-item {
    width: 100%;
    height: 40px;
    display: flex;
    display: -webkit-flex;
    padding: 0 10px;
    box-sizing: border-box;
}

.menu-item.selected {
    font-weight: bold;
}

.menu-item .icon {

}

.menu-item .label {
    margin: auto 0;
}

.submenu {

}

.submenu-item {
    margin: 10px 0 10px 20px;
}

.submenu-item.selected {
    font-weight: bold;
}
