html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333333;
    background: #ffffff;
    overflow-y: scroll;
}

#main {
    padding: 0;
    min-width: 1000px;
    max-width: 1400px;
    min-height: 100%;
    margin: 0px auto;
    background: #ffffff;
}
