html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333333;
    background: #f6f5f3;
    overflow-y: scroll;
}

#main {
    padding: 0;
    min-width: 1000px;
    max-width: 1400px;
    min-height: 100%;
    margin: 0px auto;
    background: #ffffff;
}

#main #header {
    padding: 20px;
    box-shadow: 0 -1px 0 0 #e5e5e5 inset;
}

#main #header #menu {

}

#main #header #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #0066cc;
    font-size: 120%;
}

#main #header #menu li {
    display: inline-block;
    margin: 0px 5px 0px 0px;
    padding: 5px 10px 5px 10px;
    cursor: default;
}

#main #header #menu li.active {
    background: #539aff;
    color: #ffffff;
}

#main #content {
    position: relative;
    width: 100%;
    float: left;
    background: #ffffff;
}

#dashboard {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#dashboard_accounts {
    float: left;
    width: 40%;
}

#dashboard_budget {
    float: left;
    width: 50%;
}

#transactions {
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

#transactions_filter {
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    height: 40px;
}

#transactions_filter span.subtitle {
    margin: auto 0;
}

#transactions_filter #filter_period {
    margin: auto 0 auto 10px;
}

#transactions_filter_text {
    width: 400px;
    height: 20px;
    margin: auto 0 auto 0;
    font-size: 12px;
    outline: none;
}

#transactions_list_container {
    padding: 20px;
    box-sizing: border-box;
    width: 85%;
    float: left;
}

#transactions_info_container {
    width: 15%;
    float: left;
    font-size: 12px;
    border-left: 1px solid #bebebe;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    margin: 20px 0 0 0;
}

#filter_period {
    margin: auto 0 auto 10px;
}

#transactions_new_form {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    float: left;
}

#transaction_new {
    float: left;
    width: 60%;
    border: 1px solid #bebebe;
    padding: 20px;
}

#reports {
    width: 100%;
    float: left;
}

#reports_canvas_container {
    width: 100%;
    height: 400px;
    padding: 20px;
    box-sizing: border-box;
}

#reports_canvas {
    width: 100%;
    height: 100%;
}

#reports_canvas rect {
  fill: #356eaf;
}

#reports_canvas text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

#reports_filter {
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    height: 40px;
}

#reports_filter span.subtitle {
    margin: auto 0;
}

#reports_filter span.subtitle.accounts {
    margin: auto 10px auto 20px;
}

#accounts {
    width: 100%;
    float: left;
}

#accounts_filter {
    width: 100%;
    float: left;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    height: 40px;
}

#accounts_filter span.subtitle {
    margin: auto 0;
}

#accounts_list {
    width: 30%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

#accounts_content {
    width: 70%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

#accounts_form_title {
    font-size: 120%;
    font-weight: bold;
    margin: 0 0 10px 0;
    float: left;
}

#accounts_list .account.selected {
    background: #f6f6f6;
}

div.header {
    font-size: 100%;
    padding: 0 0 2em 0;
}

span.header {
    font-size: 120%;
    font-weight: bold;
}

.fraction {
    color: #808080;
}

input.amount {
    width: 120px;
}

.tagit-label {
    font-weight: normal;
}

.ui-widget-content {
    background: #ffffff;
}

div.tooltip {
  position: absolute;
  text-align: center;
  height: 24px;
  padding: 5px;
  font: 10px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  pointer-events: none;
}

span.button {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #0066cc;
    cursor: default;
}

span.button.filter {
    margin: auto 5px auto 5px;
    padding: 2px 5px;
}

span.button.filter.active {
    background: #539aff;
    color: #ffffff;
}

.budget_header {
    margin: 0 0 2em 0;
}

.budget_item {
    margin: 0 0 1em 0;
}

.account {
    margin: 0 0 20px 0;
	position: relative;
}

.account_name {
    margin: 0 0 0.5em 0;
    padding: 0;
    font-weight: bold;
}

.account_name.budget {
    margin-left: 0;
}

.account_balance {
    font-size: 120%;
	margin-left: 0;
}

.account_balance.info {
  font-size: 100%;
  margin-left: 10px;
}

.account_balance.budget {
    margin-left: 0;
}

.transaction_line {
    margin: 1em 0 1em 0;
    float: left;
    width: 100%;
}

.transaction {
    width: 100%;
    display: block;
    padding: 1em 0 2em 0;
    position: relative;
    overflow: hidden;
}

.transaction_date {
    width: 15%;
    float: left;
}

.transaction_date .title {
    width: 100%;
}

.transaction_date .subtitle {
    width: 100%;
    color: #808080;
    padding: 0.2em 0 0 0;
}

.transaction_name {
    width: 20%;
    float: left;
    font-weight: bold;
}

.transaction_amount {
    width: 15%;
    float: left;
    font-size: 110%;
    text-align: right;
    padding: 0 2em 0 0;
}

.transaction_from_name {
    width: 30%;
    float: left;
}

.transaction_tags {
    font-weight: normal;
    font-style: italic;
    color: #808080;
    padding: 0.2em 0 0 0;
    width: 100%;
}

input.tags {
    width: 50%;
}

.transaction .action {
    font-weight: normal;
    font-size: 11px;
    color: #bebebe;
    margin: 10px 0 -10px 0;
    cursor: default;
    opacity: 0;
}

.transaction:hover {
    background: #f6f6f6;
}

.transaction:hover .action {
    opacity: 1;
}

.transaction .action .edit {
    margin: 0 10px 0 0;
}
