.container {
    margin: 0 auto 2px 0;
    padding: 2px 5px;
    display: flex;
    cursor: pointer;
}

.selected {    
    background: #f7f0ce;
}

.label {
    margin: auto 0;
    font-size: 14px;
}

.selected .label {
    color: #000000;
}