.container {
    width: 100%;
    height: 30px;
    display: flex;
}

.icon {
    margin: auto 10px auto 0;
    width: 20px;
    height: 20px;
    fill: #6f6f6f;
    flex-shrink: 0;
}

.label {
    margin: auto auto auto 0;
    font-size: 14px;
    color: #6f6f6f;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}