html, body {
	margin: 0;
  	padding: 0;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
}

#root {
	width: 100%;
	height: 100%;
}

button {
	padding: 0;
	border: 0;
	background: none;
	outline: none;
}

.fraction {
	color: #969696;
}