.container {
    width: 100%;
}

.header {
    display: flex;
    background: #0656d4;
}

.content {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 120px;
}

.balance {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
}

.balanceLabel {
    font-size: 12px;
    color: #bacae3;
}

.balanceAmount {
    margin-top: 5px;
    font-size: 22px;
    color: #ffffff;
}

.expenses {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 40px;
}

.expensesLabel {
    font-size: 10px;
    color: #bacae3;
}

.expensesAmount {
    margin-top: 5px;
    font-size: 18px;
    color: #ffffff;
}

.receipts {
    composes: expenses;
}

.receiptsLabel {
    composes: expensesLabel;
}

.receiptsAmount {
    composes: expensesAmount;
}