.container {
    margin: 0;
    width: 100%;
    height: 30px;
    display: flex;   
    cursor: pointer;
}

.expandButton {
    margin: auto 0;
    width: 20px;
    height: 20px;
}

.arrow {
    margin: auto;
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;  
    border-left: 5px solid #6f6f6f;
}

.icon {
    margin: auto 10px auto 20px;
    width: 20px;
    height: 20px;
    fill: #6f6f6f;
}

.label {
    margin: auto auto auto 0;
    font-size: 14px;
    color: #6f6f6f;
}

.selected .icon {
    fill: #3187e1;
}

.selected .label {
    color: #3187e1;
}


.expandable .icon {
    margin: auto 10px auto 0;
}