.expandButton {
    margin: auto 0;
    width: 20px;
    height: 20px;
    display: flex;
    cursor: pointer;
}

.arrow {
    margin: auto;
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;  
    border-left: 5px solid #6f6f6f;
    transition: transform 0.2s ease-in;
}

.icon {
    composes: icon from "./Button.module.css";
    margin: auto 10px auto 0;
}

.expanded .arrow {
    transform: rotate(90deg);
}