.container {
    display: flex;
}

.link {
    display: flex;
    flex-shrink: 0;
    height: 24px;
    margin: 0 20px 0 0;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    box-sizing: content-box;
    cursor: pointer;
}

.link.active {
    font-weight: 600;
    border-bottom: 2px solid #ffffff;
}