.container {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 260px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff; 
    border-right: 1px solid #c9d3d8;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}