.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    border-bottom: 1px solid #c9d3d8;
    box-sizing: border-box;
    display: flex;
}

.add {
    margin: 0 auto 0 20px;
    height: 100%;
    display: flex;
}

.alarm {
    margin: 0 20px 0 auto;
    height: 100%;
    display: flex;
}