.container {
    width: 100%;
}

.summaryContainer {
    width: 100%;
    padding: 20px 100px;
    background: rgb(24,88,156);
    display: flex;
    box-sizing: border-box;
}

.transactionsContainer {
    width: 100%;
}
