.container {
    width: 100%;
    display: flex;
    margin: 20px 0 20px 0;
    padding: 0;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
    margin: auto 10px auto 0;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s;
}

.title {
    font-size: 16px;
    font-weight: 500;
    margin: auto 0;
    color: rgba(255,255,255,0.3);
    transition: color 0.3s;
}

.container[selected] .icon {
    opacity: 1;
}

.container[selected] .title {
    color: rgb(255,255,255);
}
