.container {
    margin: 0 0 0 60px;
    display: flex;
    flex-grow: 1;
}

.summaryContainer {
    margin: 0 0 auto 0;
    padding: 0 0 20px 0;
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-sizing: border-box;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 0 60px 0 0;
}

.title {
    font-size: 10px;
    color: rgba(255,255,255,0.6);
    margin: 0 0 10px 0;
    color: rgba(255,255,255,0.6);
}

.amount {
    font-size: 22px;
    color: rgb(255,255,255);
    text-align: left;
}
