<div id="dashboard">
    <div id="dashboard_accounts">
        <div class="header">
            <span class="header">Мои счета</span>

            <div id="dashboard_available_amount"></div>
        </div>
    </div>

    <div id="dashboard_budget">
        <div class="header">
            <span id="budget_header" class="header">Бюджет за </span>
        </div>

        <div id="budget_total" class="budget_header">
            <p class="budget">
                Приход — <span id="budget_receipt" class="account_balance budget"></span>
            </p>
            <p class="budget">
                Расход — <span id="budget_expense" class="account_balance budget"></span>
            </p>
        </div>
        <div id="budget_list" class="budget_header"></div>
    </div>
</div>
