<div id="reports">
    <div id="reports-filter">
        <span class="subtitle">Отчет по </span>
        <span id="reports-filter-expenses" class="button filter">расходам</span>
        <span id="reports-filter-receipts" class="button filter">доходам</span>
        <span class="subtitle accounts">Счета </span>
        <span class="subtitle"><select id="reports_account" name="reports_account"></select></span>
    </div>
    <div id="reports-canvas-container">
        <svg id="reports-canvas"></svg>
    </div>
</div>
