<div id="reports">
    <div id="reports_filter">
        <span class="subtitle">Отчет по </span>
        <span id="reports_filter_expenses" class="button filter">расходам</span>
        <span id="reports_filter_receipts" class="button filter">доходам</span>
        <span class="subtitle accounts">Счета </span>
        <span class="subtitle"><select id="reports_account" name="reports_account"></select></span>
    </div>
    <div id="reports_canvas_container">
        <svg id="reports_canvas"></svg>
        <div id="report_tooltip">
            <div id="report_tooltip_top"></div>
            <div id="report_tooltip_content"></div>
        </div>
    </div>
</div>
