<div class="transaction">
    <div class="transaction_date">
        <span class="transaction_date title"></span>
        <br/>
        <span class="transaction_date subtitle"></span>
    </div>
    <div class="transaction_name">
        <span class="name"></span>
        <br/>
        <span class="transaction_tags"></span>
        <span class="transaction_note"></span>
        <div class="action"><span class="edit">Редактировать</span><span class="delete">Удалить</span><span class="split">Разбить</span></div>
    </div>
    <div class="transaction_amount"></div>
    <div class="transaction_from_name"></div>
</div>
