.container {
    width: 100%;
    height: 30px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    position: relative;
}

.date {
    margin: auto 0 auto 0;
    width: 100px;
    font-size: 13px;
    color: #585858;
}

.fromName {
    margin: auto 0;
    font-size: 13px;
    flex-basis: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toName {
    margin: auto 0 auto 30px;
    font-size: 13px;
    flex-basis: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tags {
    margin: auto 0;
    display: flex;
    flex-wrap: nowrap;
}

.tag {
    margin: 0 5px;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 2px;
    color: #151515;
    background-color: #dcf0ff;
}

.amount {
    margin: auto 0 auto auto;
    font-size: 14px;
}

.options {
    margin: auto 0 auto 10px;
    width: 20px;
    height: 20px;
    fill: #c7c7c7;
    visibility: hidden;
    cursor: pointer;
}

.container:hover {
    background: #f7f7f7;
}

.container:hover .options {
    visibility: visible;
}

.receipts .tag {
    background-color: #e0ffd7;
}

.expenses .tag {
    background-color: #ffefd4;
}