.container {
    width: 100%;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    background: #ffffff;
}

.left {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e8e8e8;
    margin: 0 20px 0 0;
    padding: 0;
    min-width: 200px;
}

.right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}