.container {
    margin: 0;
    width: 100%;
    display: flex;
    border: 1px solid #dcdcdc;
    position: relative;
}

.placeholder {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 5px 0 5px 10px;
    font-size: 10px;
    color: #6f6f6f;
}

.input {
    margin: 0 0 5px 10px;   
    font-size: 12px;
    outline: none;
    border: 0;
}