.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.4);
}

.container {
    margin: auto;
    padding: 20px;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.fields {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.accounts {
    margin: 0;
    display: flex;
}

.fromAccount {
    margin: 0 5px 0 0;
    flex-basis: 50%;
    display: flex;
}

.toAccount {
    margin: 0 0 0 5px;
    flex-basis: 50%;
    display: flex;
}

.amounts {
    margin: 20px 0 0 0;
    display: flex;
}

.fromAmount {
    margin: 0;
    flex-basis: 25%;
    display: flex;
}

.toAmount {
    margin: 0;
    flex-basis: 25%;
    display: flex;
}

.amountDivider {
    margin: auto 10px;
    font-size: 16px;
    color: #a7a7a7;
}

.buttons {
    margin: auto 0 0 0;
    width: 100%;
    display: flex;    
}

.cancelButton {
    margin: 0 10px 0 auto;
    padding: 10px 20px;
    font-size: 14px;
    color: #6f6f6f;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
}

.saveButton {
    margin: 0;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    background: #3785fb;    
}