.container {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 20px 0 20px 0;
    font-size: 18px;
    color: #000000;
}

.content {
    width: 100%;
    display: flex;
}

.group {
    width: 50%;
}

.subheader {
    margin: 20px 0 10px 0;
    font-size: 12px;
    color: #8f8f8f;
    text-transform: uppercase;
}

.item {
    margin: 0 0 10px 0;
    font-size: 16px;
}