.container {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
}

.header {
    margin: 0 0 20px 0;
    font-size: 14px;
    color: #999999;
}

.item {
    margin: 0 0 10px 0;
    font-size: 14px;
}