.container {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid #e4e4e4;
    background: #ffffff;
}

.header {
    margin: 0 0 20px 0;
    font-size: 14px;
    color: #999999;
}

.subheader {
    composes: header;
    margin: 20px 0;
}

.item {
    margin: 0 0 10px 0;
    font-size: 14px;
}