.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 0 0 20px 0;
    font-size: 14px;
    color: #999999;
}

.item {
    margin: 0 0 10px 0;    
    display: flex;
    flex-direction: row;
}

.name {
    margin: auto auto auto 0;
    font-size: 14px;
}

.amount {
    margin: auto 0;
    font-size: 14px;
}