.container {
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 20px 0 20px 0;
    font-size: 18px;
    color: #000000;
}

.calendar {
    width: 100%;
    display: flex;
}

.item {
    position: relative;
    margin: 0;
    min-width: 16px;
    flex-basis: 3%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.progress {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    display: flex;
}

.fill {
    margin: auto auto 0 auto;
    width: 4px;
    background: #0ac775;
}

.line {
    margin: 0;
    width: 100%;
    height: 1px;
    background: #d5d5d5;
}

.tick {
    margin: 0 auto 2px auto;
    height: 2px;
    width: 1px;
    background: #d5d5d5;
}

.day {
    margin: 0 auto;
    font-size: 11px;
    color: #979797;
}

.day.weekDay {
    color: #d5d5d5;
}

.day.today {
    color: #0ac775;
    font-weight: bold;
}

.month {
    position: absolute;
    bottom: -20px;
    left: 3px;
    font-size: 11px;
    color: #979797;        
    text-transform: uppercase;
}

.table {
    margin: 40px 0 0 0;
    width: 100%;
    display: table;
    border-collapse: collapse;
}

.row {
    width: 100%;
    display: table-row;
    border-top: 1px dotted #cccccc;
}

.cell {
    display: table-cell;
    padding: 10px 0;
}

.cell.name {
    width: 100%;
}

.itemDate {
    padding: 0 20px 0 0;
    font-size: 12px;
    white-space: nowrap;
    border-right: 1px dotted #cccccc;
}

.itemName {
    padding: 0 0 0 20px;
    width: 100%;
    font-size: 12px;
}

.itemAmount {
    font-size: 12px;
    white-space: nowrap;
    text-align: right;
}